tags
.config/ranger/bookmarks
.config/ranger/tagged
.config/ranger/history
vlc-qt-interface.conf
QtProject.conf
.config/dconf
.config/okularrc
.config/okularpartrc
.config/cmus/autosave
.config/cmus/cache
.config/cmus/command-history
.config/cmus/lib.pl
.config/cmus/playlist.pl
.config/cmus/search-history
.config/meld/history.ini
.config/i3/workspace/current
.config/transmission
.config/Syncplay
.vim/.netrwhist
