tags
vlc-qt-interface.conf
QtProject.conf
tools/gcc_single_cpp/main.cpp
tools/gcc_single_cpp/main.cpp.o
tools/gcc_single_cpp/main
tools/clang_single_cpp/main.cpp
tools/clang_single_cpp/main.cpp.o
tools/clang_single_cpp/main
.nvidia-settings-rc
.config/Trolltech.conf
.config/ranger/bookmarks
.config/ranger/tagged
.config/ranger/history
.config/dconf
.config/okularrc
.config/okularpartrc
.config/cmus/autosave
.config/cmus/cache
.config/cmus/command-history
.config/cmus/lib.pl
.config/cmus/playlist.pl
.config/cmus/search-history
.config/meld/history.ini
sh/open/workspace/current
.config/transmission
.config/Syncplay
.config/discord
.config/activitywatch
.config/nvim/.netrwhist
.config/aacs
.config/cmus/playlists/
.config/vlc
.git
.config/aseprite
