xterm*font: Consolas Regular 11
xterm*faceName: Consolas Regular 11 
xterm*termName: xterm-256color
xterm*vt100*foreground: white
xterm*vt100*background: black
rofi*font: Misc Fixed Medium Semi-Condensed 10
rofi*allowBoldFonts: false
rofi*boldMode: false 
